* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(img/bg.jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

/* TABLE 1 */

.tb1 {
    background-color: whitesmoke;
}

.th1 {
    padding: 5px;
}

.lg {
    padding-left: 20px;
    padding-right: 20px;
}

.bt {
    font-size: 30px;
    padding-right: 80px;
}

.space {
    padding-left: 755px;
}

.tp {
    padding-right: 5px;
}

.space2 {
    padding-left: 5px;
}

.lob {
    background-color: blue;
    font-size: 15px;
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.space3 {
    padding-left: 25px;
}

.th2 {
    padding: 1.5px;
}

.mvwd {
    font-size: 15px;
}

.est {
    font-size: 15px;
    padding-right: 15px;
}

.th3 {
    padding: 5px;
}

/* TABLE 2 */

.tb2 {
    border-radius: 10px;
}

.a {
    padding-left: 5px;
}

.b {
    padding: 5px;
}

.c {
    padding-right: 5px;
}

.d {
    padding-left: 40px;
}

.ttl1 {
    font-size: 10px;
    background-color:aquamarine;
    color: blue;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.e {
    padding-top: 5px;
}

.ttlh1 {
    font-size: 15px;
    font-weight: bold;
}

.f {
    padding-bottom: 5px;
}

.tthttl {
    font-size: 30px;
    font-weight: bold;
}

.g {
    padding-bottom: 5px;
}

.aa {
    font-size: 10px;
}

.h {
    padding-bottom: 5px;
}

/* TABLE 3 */

.tb3 {
    border-radius: 10px;
}

.i {
    padding-left: 5px;
}

.j {
    padding: 5px;
}

.k {
    padding-right: 5px;
}

.l {
    padding-left: 40px;
}

.rate1 {
    font-size: 10px;
    background-color: chartreuse;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.m {
    padding-top: 5px;
}

.ptm {
    font-size: 15px;
    font-weight: bold;
}

.n {
    padding-bottom: 5px;
}

.ptmttl {
    font-size: 30px;
    font-weight: bold;
}

.o {
    padding-bottom: 5px;
}

.ptm-rate {
    font-size: 10px;
    color: chartreuse;
}

.p {
    padding-bottom: 5px;
}

/* TABLE 4 */

.tb4 {
    border-radius: 10px;
}

.q {
    padding-left: 5px;
}

.r {
    padding: 5px;
}

.s {
    padding-right: 5px;
}

.t {
    padding-left: 40px;
}

.rate2 {
    font-size: 10px;
    background-color: darkorange;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.u {
    padding-top: 5px;
}

.ptm {
    font-size: 15px;
    font-weight: bold;
}

.v {
    padding-bottom: 5px;
}

.pending {
    font-size: 30px;
    font-weight: bold;
}

.w {
    padding-bottom: 5px;
}

.pending-rate {
    font-size: 10px;
    color: darkorange;
}

.x {
    padding-bottom: 5px;
}

/* TABLE 5 */

.tb5 {
    border-radius: 10px;
}

.y {
    padding-left: 5px;
}

.z {
    padding: 5px;
}

.a1 {
    padding-right: 5px;
}

.b1 {
    padding-left: 40px;
}

.rate3 {
    font-size: 10px;
    background-color: chartreuse;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.c1 {
    padding-top: 5px;
}

.ptm {
    font-size: 15px;
    font-weight: bold;
}

.d1 {
    padding-bottom: 5px;
}

.rfp {
    font-size: 30px;
    font-weight: bold;
}

.e1 {
    padding-bottom: 5px;
}

.rfu {
    font-size: 10px;
    color: chartreuse;
}

.f1 {
    padding-bottom: 5px;
}

/* TABLE 6 */

.tbl6 {
    border-radius: 5px;
}

.g1 {
    padding-top: 10px;
}

.h1 {
    padding-left: 20px;
}

.search {
    font-size: 15px;
    padding-right: 350px;
    border: 1px solid rgb(54, 54, 54);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(43, 43, 43);
}

.i1 {
    padding-left: 20px;
}

.as {
    font-size: 15px;
    padding: 10px;
    font-weight: lighter;
    border: 1px solid rgb(54, 54, 54);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.j1 {
    padding-left: 20px;
}

.date {
    font-size: 15px;
    padding: 10px;
    border: 1px solid rgb(54, 54, 54);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.k1 {
    padding-left: 20px;
}



.l1 {
    padding-bottom: 10px;
}